.meio {
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;


}

.centro {
    width: 0;
    margin-left: 300px;
    margin-right: 2%;
    margin-top: 2%;


}






.centralizar {
    width: auto;
    margin-left: 1000px;
    margin-right: 200px;
}


@media screen and (max-width: 500px) {

    /* telas menores que 500px */
    .pop {
        background-image: image-set();
    }
}