*{
    margin: 0;
    padding: 0;
}

body {
   background-color: rgb(179, 182, 182);
}


.meio {
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;


}

.centro {
    width: 0;
    margin-left: 300px;
    margin-right: 2%;
    margin-top: 2%;


}

.tabela{
   
    display: flex;
    justify-content: center;
    align-items: center;

    
    margin: 20%;
    padding: 10px;
    border-radius: 15px;
    border: 1px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    background-color: azure;

}

.add{
    padding: 10px;
}

.texto{
    height: 10%;
    
}






.centralizar {
    width: auto;
    margin-left: 1000px;
    margin-right: 200px;
}


